<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!--^EC,^EU-->
    <!--<add key="domainName" value="localhost:61882" /> -->
    <add key="domainName" value="localhost:61882" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SoftRights" value="NOSender" />
    <add key="SoftBill" value="Yes" />
    <add key="BillDrive" value="C:" />
    <add key="Counter-ID" value="PREBOOK" />
    <add key="CloudStoragePath" value="https://exprocloudcstorage.blob.core.windows.net" />
    <add key="SingnalRServer" value="http://exprohelp.com:8090/" />
    <add key="APIHostPath" value="http://pharmacyconnect.trafficmanager.net:8080/MISWebApi/" />
    <add key="APIHospitalHostPath" value="http://chandancloud.com//HISWebApi/" />
   
    <!--
    <add key="domainName" value="www.exprohelp.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SoftRights" value="NOSender"/>
    <add key="SoftBill" value="Yes"/>
    <add key="BillDrive" value="D:"/>
    <add key="Counter-ID" value="CC-01"/>

    <add key="SingnalRServer" value="http://exprohelp.com:8090/"/>
    <add key="APIHostPath" value="http://exprohelp.com/MISWebApi/"/>
    -->
  </appSettings>
  <system.web>
    
    <httpRuntime maxRequestLength="8096" useFullyQualifiedRedirectUrl="true" executionTimeout="45" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Accounts_WebServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
        <binding name="Pharmacy_WebServicesSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
        <binding name="HealthCard_WebServicesSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
        <binding name="ChandanPharmacyServicesSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
      </basicHttpBinding>
   
    </bindings>
    <client>
      <endpoint address="http://pharmacyconnect.trafficmanager.net:8080/exprologic/Pharmacy_webservices.asmx" binding="basicHttpBinding" bindingConfiguration="Pharmacy_WebServicesSoap" contract="Pharmacy.Pharmacy_WebServicesSoap" name="Pharmacy_WebServicesSoap" />
      <endpoint address="http://pharmacyconnect.trafficmanager.net:8080/exprologic/HealthCard_WebServices.asmx" binding="basicHttpBinding" bindingConfiguration="HealthCard_WebServicesSoap" contract="HealthCard.HealthCard_WebServicesSoap" name="HealthCard_WebServicesSoap" />
      <endpoint address="http://pharmacyconnect.trafficmanager.net:8080/exprologic/Accounts_WebService.asmx" binding="basicHttpBinding" bindingConfiguration="Accounts_WebServiceSoap" contract="rmAccounts.Accounts_WebServiceSoap" name="Accounts_WebServiceSoap" />
      <endpoint address="http://192.168.4.10/his/Design/common/ChandanPharmacyServices.asmx" binding="basicHttpBinding" bindingConfiguration="ChandanPharmacyServicesSoap" contract="his_proxy.ChandanPharmacyServicesSoap" name="ChandanPharmacyServicesSoap" />
  
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
   
  </system.serviceModel>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
        <dependentAssembly>
    
            <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.51.0.0" newVersion="1.51.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.51.0.0" newVersion="1.51.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.51.0.0" newVersion="1.51.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
</configuration>
