<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Engine" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3500" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.3500" targetFramework="net48" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net45" />
  <package id="Google.Api.Gax" version="3.3.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Rest" version="3.3.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net45" />
  <package id="Google.Apis.Storage.v1" version="1.51.0.2234" targetFramework="net461" />
  <package id="Google.Cloud.Storage.V1" version="3.5.0" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" requireReinstallation="true" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net45" requireReinstallation="true" />
</packages>